<! Doctype html>

 <html>
 <head>
 <!-- HTML5- you can omitt the html,
 body and head tag -->
<!-- However omitting the html and body tag
 can crash DOM or XML software and
  produce errors in older browsers(IE9) -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <link rel="stylesheet" href="styles.css"> -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <title>ALL4</title>

 </head>
 <body>
   <header>
     <div class="container">
      <img class="car" width="100%" height="auto" src="assets/car.jpg" alt="Car">
      <i class="fa fa-chevron-circle-right"></i>
     </div>

   </header>

   <main>

    <h3 class="title-booster">TAKE YOUR PICK.<h3>
    <h1 class="title">THE MINI ALL4 LINEUP.</h1>

    <!-- <img class="whitecar" src="img/whitecar.jpg" alt="white car"> -->
    <article class="article" id="article1">
    <h3 class="p-title">THE MINI COUNTRYMAN ALL4.</h3>
      <p class="description"> The rugged adventurer for living life to the fullest. Equipped with ample
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur placeat nihil veritatis
      ipsum, dicta provident dolorem facere nobis explicabo vel ipsam, eveniet quia excepturi illo.
      Eveniet corporis deleniti mollitia repudiandae.
      <p>
      <br><br>
      <button class="p-button">LEARN MORE</button>
      <br><br>
      <button class="p-button">BUILD A PRICE</button>
    </article>

    <article class="article" id="article2">
    <h3 class="p-title">THE MINI COUNTRYMAN ALL4.</h3>
      <p class="description"> The rugged adventurer for living life to the fullest. Equipped with ample
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur placeat nihil veritatis
      ipsum, dicta provident dolorem facere nobis explicabo vel ipsam, eveniet quia excepturi illo.
      Eveniet corporis deleniti mollitia repudiandae.
      <p>
      <br><br>
      <button class="p-button">LEARN MORE</button>
      <br><br>
      <button class="p-button">BUILD A PRICE</button>
    </article>


      <article >
        <div id="article3">

        </div>
      </article>

    <!-- <article id="article4"></article> -->

   </main>

   <footer>

   </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <script src="http://www.youtube.com/player_api"></script>
   <!-- <script src="/assets/javascripts/homepage.js"></script> -->
   <%= javascript_include_tag "homepage", "data-turbolinks-track" => true  %>

 </body>


</html>
